table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    position: relative;
    top: 20%;
    left: 2%;
    width: 96%;
    table-layout: fixed;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: coral;
}